body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #E6E6FA;
    text-align: center;
    font-size: 50px;
}

a:link {
    text-decoration-line: none;
    color: black;

}

a:visited {
    text-decoration-line: none;
    color: black;
}

a:hover {
    text-decoration-line: none;
    color: black;
}

a:active {
    text-decoration-line: none;
    color: black;
}
